In [10]:
#Display informaion about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52955 entries, 0 to 52954
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerID           52924 non-null  float64
 1   Gender               52924 non-null  object
 2   Location             52924 non-null  object
 3   Tenure_Months        52924 non-null  float64
 4   Transaction_ID       52924 non-null  float64
 5   Transaction_Date     52924 non-null  object
 6   sku                  52924 non-null  object
 7   Product_Description  52924 non-null  object
 8   Product_Category     52955 non-null  object
 9   Quantity             52924 non-null  float64
 10  Avg_Price            52924 non-null  float64
 11  Delivery_Charges     52924 non-null  float64
 12  Coupon_Status        52924 non-null  object
 13  GST                  52924 non-null  float64
 14  Date                 52924 non-null  object
 15  Offline_Spend        52924 non-null  float64
 16  Online_Spend         52924 non-null  float64
 17  Month                52955 non-null  int64
 18  Coupon_Code          52555 non-null  object
 19  Discount_pct         52555 non-null  float64
dtypes: float64(10), int64(1), object(9)
memory usage: 10.5+ MB

In [9]:
data = df.rename(columns=new_column_names)
data.columns

Index(['CustomerID', 'Gender', 'Location', 'Tenure_Months', 'Transaction_ID',
       'Transaction_Date', 'sku', 'Product_Description', 'Product_Category',
       'Quantity', 'Avg_Price', 'Delivery_Charges', 'Coupon', 'GST', 'Date',
       'Offline_Spend', 'Online_Spend', 'Month', 'Coupon_Code',
       'Discount_pct'],
      dtype='object')

In [8]:
#Rename of Columns names....
new_column_names = {"Coupon_Status": "Coupon"}

In [7]:
df.loc[30:, 'Location'].head(10)

Number
30      New York
31      New York
32       Chicago
33       Chicago
34       Chicago
35       Chicago
36       Chicago
37       Chicago
38    New Jersey
39    New Jersey
Name: Location, dtype: object

In [6]:
#Location function
df.loc[31]

CustomerID                                                       14688.0
Gender                                                                 F
Location                                                        New York
Tenure_Months                                                       46.0
Transaction_ID                                                   16736.0
Transaction_Date                                                1/1/2019
sku                                                       GGOENEBJ079499
Product_Description    Nest Learning Thermostat 3rd Gen-USA - Stainle...
Product_Category                                                Nest-USA
Quantity                                                             1.0
Avg_Price                                                         153.71
Delivery_Charges                                                     6.5
Coupon_Status                                                       Used
GST                                                                  0.1
Date                                                            1/1/2019
Offline_Spend                                                     4500.0
Online_Spend                                                      2424.5
Month                                                                  1
Coupon_Code                                                       ELEC10
Discount_pct                                                        10.0
Name: 31, dtype: object

In [ ]:
# Unique function is used....
df['Number'].is_unique

In [2]:
#Taking csv file
#Online shopping data
df = pd.read_csv("/MLpract2/onlineshop.csv")
df.head()

,Number,CustomerID,Gender,Location,Tenure_Months,Transaction_ID,Transaction_Date,sku,Product_Description,Product_Category,...,Avg_Price,Delivery_Charges,Coupon_Status,GST,Date,Offline_Spend,Online_Spend,Month,Coupon_Code,Discount_pct
0,0,17850.0,M,Chicago,12.0,16679.0,1/1/2019,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,153.71,6.5,Used,0.1,1/1/2019,4500.0,2424.5,1,ELEC10,10.0
1,1,17850.0,M,Chicago,12.0,16680.0,1/1/2019,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,153.71,6.5,Used,0.1,1/1/2019,4500.0,2424.5,1,ELEC10,10.0
2,2,17850.0,M,Chicago,12.0,16696.0,1/1/2019,GGOENEBQ078999,Nest Cam Outdoor Security Camera - USA,Nest-USA,...,122.77,6.5,Not Used,0.1,1/1/2019,4500.0,2424.5,1,ELEC10,10.0
3,3,17850.0,M,Chicago,12.0,16699.0,1/1/2019,GGOENEBQ079099,Nest Protect Smoke + CO White Battery Alarm-USA,Nest-USA,...,81.50,6.5,Clicked,0.1,1/1/2019,4500.0,2424.5,1,ELEC10,10.0
4,4,17850.0,M,Chicago,12.0,16700.0,1/1/2019,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,153.71,6.5,Clicked,0.1,1/1/2019,4500.0,2424.5,1,ELEC10,10.0

In [ ]:
import pandas as pd
import numpy as np